{% extends "layout.html.twig" %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <center><h1>Lista de Produtos cadastrados</h1></center> <br/>
    <form action="" method="get">
        <input type="hidden" name="ocorrencias" value="ok">
         <input type="submit" value="Com ocorrencias"/>
    </form>
    <form action="" method="get">
        <input type="submit" value="Limpar"/>
    </form>
    <ul>
        {% for key,produto in list %}
            {% set requests = [] %}
            {% set requestsHors = [] %}

            {% for keyrequest,request in produto.produtoRequests %}
                {% set requests = requests|merge([request.valor_registrado]) %}
            {% endfor %}

            {% set total =  produto.produtoRequests|length %}
            {% set total =  total-1 %}
            <li>
                <script>
                    $(function () {
                        Highcharts.chart('container{{ key }}', {

                            title: {
                                text: '{{ produto.produtoData.nome }}'
                            },

                            xAxis: {
                                categories: [0, {% for keyrequest,request in produto.produtoRequests %}'{{ request.data }}' {% if keyrequest != total%},{% endif %}{% endfor %}]
                            },

                            yAxis: {
                                type: 'logarithmic',
                                minorTickInterval: 0.1
                            },

                            plotOptions: {
                                line: {
                                    dataLabels: {
                                        enabled: true
                                    },
                                    enableMouseTracking: true
                                }
                            },

                            series: [{
                                data: [{{ requests|join(',') }}],
                                pointStart: 1
                            }]
                        });
                    });

                </script>
                {% if (produto.produtoData.valor_atual is not null) %}R${{ produto.produtoData.valor_atual }} {% else %}<b>Não Disponível</b>{% endif %} | {{ produto.produtoData.nome }}
                <div id="container{{ key }}" style="min-width: 310px; height: 200px; margin: 0 auto"></div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
